<div class="center jumbotron">
  <h1>Welcome to Member's Club</h1>

  <h2 class="text-center">
    This is the home page for the Members Only Club of Microverse</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
